aiogram==3.20.0.post0
aiogram-dialog==2.3.1
APScheduler==3.11.0
yt-dlp==2025.6.9
twitchapi==4.5.0
sulguk==0.8.0
jinja2==3.1.6
pyyaml==6.0.2
pydantic_settings==2.10.0
structlog==25.4.0
orjson==3.10.18
uvloop==0.21.0
SQLAlchemy==2.0.41
alembic==1.16.1
aiosqlite==0.21.0
asyncclick==8.1.8
anyio==4.9.0
aiocache==0.12.3
sqlmodel==0.0.24
