aiogram==3.10.0
aiogram-dialog==2.2.0a5
pydantic==2.8.2
APScheduler==3.10.4
yt-dlp==2024.8.6
sulguk==0.8.0
jinja2==3.1.4
pyyaml==6.0.2
pydantic_settings==2.4.0
structlog==24.4.0
orjson==3.10.5
uvloop==0.20.0
SQLAlchemy==2.0.31
alembic==1.13.2
aiosqlite==0.20.0
asyncclick==8.1.7.2
anyio==4.4.0
aiocache==0.12.2
sqlalchemy-data-model-visualizer==0.1.3
