aiogram==3.27.0
aiogram-dialog==2.4.0
APScheduler==3.11.2
yt-dlp==2026.3.17
twitchapi==4.5.0
sulguk==0.11.1
jinja2==3.1.6
pyyaml==6.0.3
pydantic_settings==2.14.1
structlog==25.4.0
orjson==3.11.7
uvloop==0.22.1
tortoise-orm==0.21.7
aerich==0.7.2
asyncpg==0.29.0
anyio==4.10.0
aiocache==0.12.3
